.easy-chart {
    width: 100%;
    height: 180px;
    margin-bottom: 5px;
}

.easy-chart .chart-card {
    height: 80%;
    margin-bottom: 3px;
    padding: 0;
}

.easy-chart .chart-card svg {
    height: 100%;
    width: 100%;
}

.easy-chart .chart-title {
    text-align: center;
}
